body {
	background: url(assests/bg3.png), url(assests/bg4.png), url(assests/bg5.png), url(assests/bg2.png);
	/* background-repeat: no-repeat, no-repeat, no-repeat, no-repeat; */
	background-size: contain, contain, contain, contain;
	color: white;
}

.layout {
	width: 100%;
	margin: auto;
	background: rgb(26 26 26 / 92%);
	padding: 10px;
}

.accordion {
	margin-top: 20px;
	margin-bottom: 10px;
	border-radius: 10px;
}

.accordion__question p {
	margin: 5px;
	padding: 0;
	font-family: Verdana;
	font-size: 20px;
}

.accordion__answer p {
	margin: 5px;
	padding: 10px;
	font-size: large;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: rgb(255, 255, 255);
	background: rgb(73, 73, 73);
	border-radius: 10px;
}

.accordion:hover {
	cursor: pointer;
}

.accordion__answer {
	display: none;
}

.accordion.active .accordion__answer {
	display: block;
}
